@charset "UTF-8";
@import url(../styles/header.css);
@import url(../styles/aside.css);
@import url(../styles/main.css);
@import url(../styles/navbar.css);
@import url(../styles/reset.css);

:root {
    --degrade: linear-gradient(60deg, #072041, #041833, #154580);
    --azul-void: #01080E;
    --azul-escuro: #041832;
    --azul-medio: #144480;
    --azul-neon: #2BDEFD;
    --play-hover:  #2EBED7;
    --cinza-cards: #C4C4C4;
    --cinza:  #C4C4C4;
    --branco: #fff;
}


